In [1]:
import pandas as pd
import numpy as np
import sqlite3

# https://www.kaggle.com/hhs/health-insurance-marketplace

In [2]:
def fetch_sql(query):
    conn = sqlite3.connect('../data/sql/database.sqlite')
    cur = conn.cursor()
    coords = cur.execute(query).fetchall()
    cur.close()
    conn.close()
    return coords

In [3]:
def fetch_sql_df(query):
    conn = sqlite3.connect('../data/sql/database.sqlite')
    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

In [4]:
query = '''SELECT name FROM sqlite_master
           WHERE type='table'
           ORDER BY name;'''

q = fetch_sql(query)
q

[('BenefitsCostSharing',),
 ('BusinessRules',),
 ('Crosswalk2015',),
 ('Crosswalk2016',),
 ('Network',),
 ('PlanAttributes',),
 ('Rate',),
 ('ServiceArea',)]

In [5]:
tables = []
for i in q:
    tables.append(i[0])
tables

['BenefitsCostSharing',
 'BusinessRules',
 'Crosswalk2015',
 'Crosswalk2016',
 'Network',
 'PlanAttributes',
 'Rate',
 'ServiceArea']

In [6]:
table_columns = {}

for t in tables:
    query = 'SELECT * FROM ' + t + ' LIMIT 1'
    df = fetch_sql_df(query)
    table_columns[t] = list(df.columns)

table_columns

{'BenefitsCostSharing': ['BenefitName',
  'BusinessYear',
  'CoinsInnTier1',
  'CoinsInnTier2',
  'CoinsOutofNet',
  'CopayInnTier1',
  'CopayInnTier2',
  'CopayOutofNet',
  'EHBVarReason',
  'Exclusions',
  'Explanation',
  'ImportDate',
  'IsCovered',
  'IsEHB',
  'IsExclFromInnMOOP',
  'IsExclFromOonMOOP',
  'IsStateMandate',
  'IsSubjToDedTier1',
  'IsSubjToDedTier2',
  'IssuerId',
  'IssuerId2',
  'LimitQty',
  'LimitUnit',
  'MinimumStay',
  'PlanId',
  'QuantLimitOnSvc',
  'RowNumber',
  'SourceName',
  'StandardComponentId',
  'StateCode',
  'StateCode2',
  'VersionNum'],
 'BusinessRules': ['BusinessYear',
  'StateCode',
  'IssuerId',
  'SourceName',
  'VersionNum',
  'ImportDate',
  'IssuerId2',
  'TIN',
  'ProductId',
  'StandardComponentId',
  'EnrolleeContractRateDeterminationRule',
  'TwoParentFamilyMaxDependentsRule',
  'SingleParentFamilyMaxDependentsRule',
  'DependentMaximumAgRule',
  'ChildrenOnlyContractMaxChildrenRule',
  'DomesticPartnerAsSpouseIndicator',
  'SameSexPartnerAsSpouseIndicator',
  'AgeDeterminationRule',
  'MinimumTobaccoFreeMonthsRule',
  'CohabitationRule',
  'RowNumber',
  'MarketCoverage',
  'DentalOnlyPlan'],
 'Crosswalk2015': ['State',
  'DentalPlan',
  'PlanID_2014',
  'IssuerID_2014',
  'MultistatePlan_2014',
  'MetalLevel_2014',
  'ChildAdultOnly_2014',
  'FIPSCode',
  'ZipCode',
  'CrosswalkLevel',
  'ReasonForCrosswalk',
  'PlanID_2015',
  'IssuerID_2015',
  'MultistatePlan_2015',
  'MetalLevel_2015',
  'ChildAdultOnly_2015',
  'AgeOffPlanID_2015',
  'IssuerID_AgeOff2015',
  'MultistatePlan_AgeOff2015',
  'MetalLevel_AgeOff2015',
  'ChildAdultOnly_AgeOff2015'],
 'Crosswalk2016': ['State',
  'DentalPlan',
  'PlanID_2015',
  'IssuerID_2015',
  'MultistatePlan_2015',
  'MetalLevel_2015',
  'ChildAdultOnly_2015',
  'FIPSCode',
  'ZipCode',
  'CrosswalkLevel',
  'ReasonForCrosswalk',
  'PlanID_2016',
  'IssuerID_2016',
  'MultistatePlan_2016',
  'MetalLevel_2016',
  'ChildAdultOnly_2016',
  'AgeOffPlanID_2016',
  'IssuerID_AgeOff2016',
  'MultistatePlan_AgeOff2016',
  'MetalLevel_AgeOff2016',
  'ChildAdultOnly_AgeOff2016'],
 'Network': ['BusinessYear',
  'StateCode',
  'IssuerId',
  'SourceName',
  'VersionNum',
  'ImportDate',
  'IssuerId2',
  'StateCode2',
  'NetworkName',
  'NetworkId',
  'NetworkURL',
  'RowNumber',
  'MarketCoverage',
  'DentalOnlyPlan'],
 'PlanAttributes': ['AVCalculatorOutputNumber',
  'BeginPrimaryCareCostSharingAfterNumberOfVisits',
  'BeginPrimaryCareDeductibleCoinsuranceAfterNumberOfCopays',
  'BenefitPackageId',
  'BusinessYear',
  'CSRVariationType',
  'ChildOnlyOffering',
  'ChildOnlyPlanId',
  'CompositeRatingOffered',
  'DEHBCombInnOonFamilyMOOP',
  'DEHBCombInnOonFamilyPerGroupMOOP',
  'DEHBCombInnOonFamilyPerPersonMOOP',
  'DEHBCombInnOonIndividualMOOP',
  'DEHBDedCombInnOonFamily',
  'DEHBDedCombInnOonFamilyPerGroup',
  'DEHBDedCombInnOonFamilyPerPerson',
  'DEHBDedCombInnOonIndividual',
  'DEHBDedInnTier1Coinsurance',
  'DEHBDedInnTier1Family',
  'DEHBDedInnTier1FamilyPerGroup',
  'DEHBDedInnTier1FamilyPerPerson',
  'DEHBDedInnTier1Individual',
  'DEHBDedInnTier2Coinsurance',
  'DEHBDedInnTier2Family',
  'DEHBDedInnTier2FamilyPerGroup',
  'DEHBDedInnTier2FamilyPerPerson',
  'DEHBDedInnTier2Individual',
  'DEHBDedOutOfNetFamily',
  'DEHBDedOutOfNetFamilyPerGroup',
  'DEHBDedOutOfNetFamilyPerPerson',
  'DEHBDedOutOfNetIndividual',
  'DEHBInnTier1FamilyMOOP',
  'DEHBInnTier1FamilyPerGroupMOOP',
  'DEHBInnTier1FamilyPerPersonMOOP',
  'DEHBInnTier1IndividualMOOP',
  'DEHBInnTier2FamilyMOOP',
  'DEHBInnTier2FamilyPerGroupMOOP',
  'DEHBInnTier2FamilyPerPersonMOOP',
  'DEHBInnTier2IndividualMOOP',
  'DEHBOutOfNetFamilyMOOP',
  'DEHBOutOfNetFamilyPerGroupMOOP',
  'DEHBOutOfNetFamilyPerPersonMOOP',
  'DEHBOutOfNetIndividualMOOP',
  'DentalOnlyPlan',
  'DiseaseManagementProgramsOffered',
  'EHBPediatricDentalApportionmentQuantity',
  'EHBPercentPremiumS4',
  'EHBPercentTotalPremium',
  'FirstTierUtilization',
  'FormularyId',
  'FormularyURL',
  'HIOSProductId',
  'HPID',
  'HSAOrHRAEmployerContribution',
  'HSAOrHRAEmployerContributionAmount',
  'ImportDate',
  'IndianPlanVariationEstimatedAdvancedPaymentAmountPerEnrollee',
  'InpatientCopaymentMaximumDays',
  'IsGuaranteedRate',
  'IsHSAEligible',
  'IsNewPlan',
  'IsNoticeRequiredForPregnancy',
  'IsReferralRequiredForSpecialist',
  'IssuerActuarialValue',
  'IssuerId',
  'IssuerId2',
  'MEHBCombInnOonFamilyMOOP',
  'MEHBCombInnOonFamilyPerGroupMOOP',
  'MEHBCombInnOonFamilyPerPersonMOOP',
  'MEHBCombInnOonIndividualMOOP',
  'MEHBDedCombInnOonFamily',
  'MEHBDedCombInnOonFamilyPerGroup',
  'MEHBDedCombInnOonFamilyPerPerson',
  'MEHBDedCombInnOonIndividual',
  'MEHBDedInnTier1Coinsurance',
  'MEHBDedInnTier1Family',
  'MEHBDedInnTier1FamilyPerGroup',
  'MEHBDedInnTier1FamilyPerPerson',
  'MEHBDedInnTier1Individual',
  'MEHBDedInnTier2Coinsurance',
  'MEHBDedInnTier2Family',
  'MEHBDedInnTier2FamilyPerGroup',
  'MEHBDedInnTier2FamilyPerPerson',
  'MEHBDedInnTier2Individual',
  'MEHBDedOutOfNetFamily',
  'MEHBDedOutOfNetFamilyPerGroup',
  'MEHBDedOutOfNetFamilyPerPerson',
  'MEHBDedOutOfNetIndividual',
  'MEHBInnTier1FamilyMOOP',
  'MEHBInnTier1FamilyPerGroupMOOP',
  'MEHBInnTier1FamilyPerPersonMOOP',
  'MEHBInnTier1IndividualMOOP',
  'MEHBInnTier2FamilyMOOP',
  'MEHBInnTier2FamilyPerGroupMOOP',
  'MEHBInnTier2FamilyPerPersonMOOP',
  'MEHBInnTier2IndividualMOOP',
  'MEHBOutOfNetFamilyMOOP',
  'MEHBOutOfNetFamilyPerGroupMOOP',
  'MEHBOutOfNetFamilyPerPersonMOOP',
  'MEHBOutOfNetIndividualMOOP',
  'MarketCoverage',
  'MedicalDrugDeductiblesIntegrated',
  'MedicalDrugMaximumOutofPocketIntegrated',
  'MetalLevel',
  'MultipleInNetworkTiers',
  'NationalNetwork',
  'NetworkId',
  'OutOfCountryCoverage',
  'OutOfCountryCoverageDescription',
  'OutOfServiceAreaCoverage',
  'OutOfServiceAreaCoverageDescription',
  'PlanBrochure',
  'PlanEffictiveDate',
  'PlanExpirationDate',
  'PlanId',
  'PlanLevelExclusions',
  'PlanMarketingName',
  'PlanType',
  'QHPNonQHPTypeId',
  'RowNumber',
  'SBCHavingDiabetesCoinsurance',
  'SBCHavingDiabetesCopayment',
  'SBCHavingDiabetesDeductible',
  'SBCHavingDiabetesLimit',
  'SBCHavingaBabyCoinsurance',
  'SBCHavingaBabyCopayment',
  'SBCHavingaBabyDeductible',
  'SBCHavingaBabyLimit',
  'SecondTierUtilization',
  'ServiceAreaId',
  'SourceName',
  'SpecialistRequiringReferral',
  'SpecialtyDrugMaximumCoinsurance',
  'StandardComponentId',
  'StateCode',
  'StateCode2',
  'TEHBCombInnOonFamilyMOOP',
  'TEHBCombInnOonFamilyPerGroupMOOP',
  'TEHBCombInnOonFamilyPerPersonMOOP',
  'TEHBCombInnOonIndividualMOOP',
  'TEHBDedCombInnOonFamily',
  'TEHBDedCombInnOonFamilyPerGroup',
  'TEHBDedCombInnOonFamilyPerPerson',
  'TEHBDedCombInnOonIndividual',
  'TEHBDedInnTier1Coinsurance',
  'TEHBDedInnTier1Family',
  'TEHBDedInnTier1FamilyPerGroup',
  'TEHBDedInnTier1FamilyPerPerson',
  'TEHBDedInnTier1Individual',
  'TEHBDedInnTier2Coinsurance',
  'TEHBDedInnTier2Family',
  'TEHBDedInnTier2FamilyPerGroup',
  'TEHBDedInnTier2FamilyPerPerson',
  'TEHBDedInnTier2Individual',
  'TEHBDedOutOfNetFamily',
  'TEHBDedOutOfNetFamilyPerGroup',
  'TEHBDedOutOfNetFamilyPerPerson',
  'TEHBDedOutOfNetIndividual',
  'TEHBInnTier1FamilyMOOP',
  'TEHBInnTier1FamilyPerGroupMOOP',
  'TEHBInnTier1FamilyPerPersonMOOP',
  'TEHBInnTier1IndividualMOOP',
  'TEHBInnTier2FamilyMOOP',
  'TEHBInnTier2FamilyPerGroupMOOP',
  'TEHBInnTier2FamilyPerPersonMOOP',
  'TEHBInnTier2IndividualMOOP',
  'TEHBOutOfNetFamilyMOOP',
  'TEHBOutOfNetFamilyPerGroupMOOP',
  'TEHBOutOfNetFamilyPerPersonMOOP',
  'TEHBOutOfNetIndividualMOOP',
  'TIN',
  'URLForEnrollmentPayment',
  'URLForSummaryofBenefitsCoverage',
  'UniquePlanDesign',
  'VersionNum',
  'WellnessProgramOffered'],
 'Rate': ['BusinessYear',
  'StateCode',
  'IssuerId',
  'SourceName',
  'VersionNum',
  'ImportDate',
  'IssuerId2',
  'FederalTIN',
  'RateEffectiveDate',
  'RateExpirationDate',
  'PlanId',
  'RatingAreaId',
  'Tobacco',
  'Age',
  'IndividualRate',
  'IndividualTobaccoRate',
  'Couple',
  'PrimarySubscriberAndOneDependent',
  'PrimarySubscriberAndTwoDependents',
  'PrimarySubscriberAndThreeOrMoreDependents',
  'CoupleAndOneDependent',
  'CoupleAndTwoDependents',
  'CoupleAndThreeOrMoreDependents',
  'RowNumber'],
 'ServiceArea': ['BusinessYear',
  'StateCode',
  'IssuerId',
  'SourceName',
  'VersionNum',
  'ImportDate',
  'IssuerId2',
  'StateCode2',
  'ServiceAreaId',
  'ServiceAreaName',
  'CoverEntireState',
  'County',
  'PartialCounty',
  'ZipCodes',
  'PartialCountyJustification',
  'RowNumber',
  'MarketCoverage',
  'DentalOnlyPlan']}

In [9]:
query = 'SELECT * FROM BenefitsCostSharing LIMIT 10;'
df = fetch_sql_df(query)
df

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20%,,20%,No Charge,,No Charge,Above EHB,,...,Dollars per Year,,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up for Children,2014,20%,,20%,No Charge,,No Charge,Substantially Equal,,...,Visit(s) per 6 Months,,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40%,,40%,No Charge,,No Charge,Substantially Equal,,...,,,21989AK0010001-00,,110,HIOS,21989AK0010001,AK,AK,6
3,Orthodontia - Child,2014,50%,,50%,No Charge,,No Charge,Additional EHB Benefit,,...,,,21989AK0010001-00,,111,HIOS,21989AK0010001,AK,AK,6
4,Major Dental Care - Child,2014,50%,,50%,No Charge,,No Charge,Substantially Equal,,...,,,21989AK0010001-00,,112,HIOS,21989AK0010001,AK,AK,6
5,Basic Dental Care - Adult,2014,40%,,40%,No Charge,,No Charge,Above EHB,,...,Dollars per Year,,21989AK0010001-00,Yes,113,HIOS,21989AK0010001,AK,AK,6
6,Orthodontia - Adult,2014,,,,,,,,,...,,,21989AK0010001-00,,114,HIOS,21989AK0010001,AK,AK,6
7,Major Dental Care - Adult,2014,50%,,50%,No Charge,,No Charge,Above EHB,,...,Dollars per Year,,21989AK0010001-00,Yes,115,HIOS,21989AK0010001,AK,AK,6
8,Accidental Dental,2014,,,,,,,,,...,,,21989AK0010001-00,,118,HIOS,21989AK0010001,AK,AK,6
9,Routine Dental Services (Adult),2014,20%,,20%,No Charge,,No Charge,Above EHB,,...,Dollars per Year,,21989AK0010001-01,Yes,68,HIOS,21989AK0010001,AK,AK,6

In [30]:
query = '''SELECT COUNT(*)
           FROM BenefitsCostSharing'''

fetch_sql(query)

[(5048408,)]

In [27]:
col = table_columns['BenefitsCostSharing']
for c in col:
    query = """SELECT COUNT({}) 
                FROM BenefitsCostSharing 
                WHERE {} = '';""".format(c, c)
    q = fetch_sql(query)
    print(c, q[0][0], round((q[0][0]/5048408*100),2))

BenefitName 0 0.0
BusinessYear 0 0.0
CoinsInnTier1 1113847 22.06
CoinsInnTier2 4571587 90.56
CoinsOutofNet 1113847 22.06
CopayInnTier1 1113847 22.06
CopayInnTier2 4571587 90.56
CopayOutofNet 1113849 22.06
EHBVarReason 3020737 59.84
Exclusions 4572247 90.57
Explanation 4075700 80.73
ImportDate 0 0.0
IsCovered 215980 4.28
IsEHB 1817362 36.0
IsExclFromInnMOOP 983986 19.49
IsExclFromOonMOOP 982626 19.46
IsStateMandate 4250463 84.19
IsSubjToDedTier1 2465877 48.84
IsSubjToDedTier2 2466054 48.85
IssuerId 0 0.0
IssuerId2 0 0.0
LimitQty 4360725 86.38
LimitUnit 4360539 86.37
MinimumStay 5031681 99.67
PlanId 0 0.0
QuantLimitOnSvc 3264532 64.66
RowNumber 0 0.0
SourceName 0 0.0
StandardComponentId 0 0.0
StateCode 0 0.0
StateCode2 0 0.0
VersionNum 0 0.0

In [43]:
query = """SELECT COUNT (DISTINCT BenefitName)
           FROM BenefitsCostSharing
           """
fetch_sql(query)

[(861,)]

In [42]:
query = """SELECT COUNT (BenefitName), COUNT (DISTINCT BenefitName), BusinessYear
           FROM BenefitsCostSharing
           GROUP BY BusinessYear;
           """

fetch_sql_df(query)

   COUNT (BenefitName)  COUNT (DISTINCT BenefitName)  BusinessYear
0              1164869                           496          2014
1              2079286                           517          2015
2              1804253                           429          2016

In [104]:
query = """SELECT COUNT(Benefitname) AS BenCount, BusinessYear
           FROM BenefitsCostSharing
           GROUP BY Benefitname;"""

fetch_sql_df(query)

     BenCount  BusinessYear
0           8          2016
1          24          2015
2           4          2015
3         256          2015
4           4          2015
..        ...           ...
856         1          2014
857        55          2016
858        55          2016
859        55          2016
860        55          2016

[861 rows x 2 columns]

In [114]:
query = """SELECT MAX(BenCount), BusinessYear
           FROM (SELECT COUNT(Benefitname) AS BenCount, BusinessYear
                 FROM BenefitsCostSharing
                 GROUP BY BenefitName)
           GROUP BY BusinessYear;"""

fetch_sql_df(query)

   MAX(BenCount)  BusinessYear
0          77377          2014
1           3049          2015
2            644          2016

In [91]:
query = """SELECT BenefitName, COUNT(BenefitName)
           FROM BenefitsCostSharing
           GROUP BY BusinessYear
           HAVING COUNT(Benefitname) =
               (SELECT MAX(BenCount)
                FROM (SELECT COUNT(Benefitname) AS BenCount
                      FROM BenefitsCostSharing
                      GROUP BY BenefitName) AS t);"""

fetch_sql_df(query)

Empty DataFrame
Columns: [BenefitName, COUNT(BenefitName)]
Index: []